:root {
  --shadow-color: 10 0 0;
  --shadow-elevation-low: 0.3px 0.5px 0.6px rgb(var(--shadow-color) / 0.36),
    0.4px 0.7px 0.8px -1.7px rgb(var(--shadow-color) / 0.29),
    0.9px 1.8px 2px -3.4px rgb(var(--shadow-color) / 0.23);
  --shadow-elevation-medium: 0.3px 0.5px 0.6px rgb(var(--shadow-color) / 0.3),
    0.5px 1px 1.1px -0.9px rgb(var(--shadow-color) / 0.27),
    1px 2px 2.2px -1.7px rgb(var(--shadow-color) / 0.23),
    2.2px 4.4px 4.8px -2.6px rgb(var(--shadow-color) / 0.2),
    4.4px 8.8px 9.7px -3.4px rgb(var(--shadow-color) / 0.17);
  --shadow-elevation-high: 0.3px 0.5px 0.6px rgb(var(--shadow-color) / 0.28),
    0.7px 1.4px 1.5px -0.4px rgb(var(--shadow-color) / 0.26),
    1.2px 2.4px 2.6px -0.8px rgb(var(--shadow-color) / 0.25),
    1.9px 3.8px 4.2px -1.1px rgb(var(--shadow-color) / 0.23),
    3px 5.9px 6.5px -1.5px rgb(var(--shadow-color) / 0.22),
    4.5px 9.1px 10px -1.9px rgb(var(--shadow-color) / 0.2),
    6.8px 13.5px 14.9px -2.3px rgb(var(--shadow-color) / 0.19),
    9.8px 19.7px 21.6px -2.7px rgb(var(--shadow-color) / 0.17),
    13.8px 27.7px 30.4px -3.1px rgb(var(--shadow-color) / 0.16),
    19px 38px 41.7px -3.4px rgb(var(--shadow-color) / 0.14);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1e1e1e;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  color: white;
  overflow: hidden;
}

#app {
  display: grid;
  place-items: center;
  width: inherit;
  height: inherit;
  position: relative;
}

#app #_ {
  display: grid;
  place-items: center;
  width: inherit;
  height: inherit;
}

#hyperspace {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -9;
}
