#x4345sd {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.audio--record {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.audio--section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.audio--section p {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mic {
  cursor: pointer;
  display: grid;
  place-items: center;
  width: 80px;
  height: 80px;
  border-radius: 12px;
  background: #373737;
  box-shadow: var(--shadow-elevation-medium);
  cursor: pointer;
}

#audio {
  width: 400px;
  height: 80px;
  background: #373737;
  border-radius: 12px;
  box-shadow: var(--shadow-elevation-medium);
  display: flex;
  align-items: center;
  padding-inline: 25px;
}

#audio #waves {
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 100px;
}
