.music--metadata {
  width: 440px;
}

.track--preview {
  position: relative;
  display: flex;
  align-items: stretch;
  gap: 20px;
  padding: 20px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%237A7A7AFF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 12px;
  width: 800px;
  height: 340px;
}

.starting--text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.25rem;
  font-weight: 500;
}

#cover {
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 12px;
}

#track {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 60px;
}

#track-preview {
  width: 100%;
  background: #373737;
  box-shadow: var(--shadow-elevation-medium);
  height: calc(100% - 60px);
  border-radius: 12px;
  display: grid;
  padding: 16px;
  align-items: center;
}

#control {
  display: grid;
  place-items: center;
  min-width: 60px;
  min-height: 60px;
  border-radius: 100%;
  background: #373737;
  box-shadow: var(--shadow-elevation-medium);
  cursor: pointer;
}

.badget {
  width: max-content;
  height: max-content;
  background: #404040;
  border-radius: 4px;
  padding: 3px;
  color: #adadad;
}

.info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.music--metadata {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.duration {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.description h5:nth-child(1) {
  font-size: 1rem;
  font-weight: 500;
}
.description h5:nth-child(2) {
  font-weight: 800;
  font-size: 1.25rem;
}
